.group-assessment__view

  .view
    .field
      margin-bottom 1.5em
      display flex

      &:last-child
        margin 0

      .label
        color rgba(0,0,0,0.54)
        margin-right 5px

    .field--pills
      align-items flex-end

      .label
        margin 0

      .pill
        margin 0 0 0 12px
