.group-assessment__list
  margin 0 1em 0 0
  min-width 270px
  width 100%

  .list-item
    transition background-color 0.3s
    border-bottom 1px solid #ededed
    padding 1rem 1.3rem

    display flex
    justify-content space-between

    &:last-child
      border-bottom none

    .list-item__label
      font-weight bold

    .list-item__description
      display flex
      flex-direction column
      justify-content center

    .list-item__extra
      display flex
      flex-direction column
      justify-content center

      &>div
        margin-top 0.6rem
